*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/*............header area start
 .........................*/
.header{
    background: bisque;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 80px;
    
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    
    
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}
.banner-title{
    
    width: 50%;
    height: 50px;
    font-weight: 800;
    font-size: 50px;
    margin: 0 auto;
    padding-bottom: 100px;
    
    
}
.banner-description{
    margin: 0 240px;
    font-size: 14px;
    font-weight: 400;
    
}
.btn-1{
    
    padding-left: 40%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.orange-btn{
    padding: 15px;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    
}
a{
    text-decoration: none;
    color: white;
}
.banner-img{
    width: 1000px;
    height: 500px;
    padding-left: 60px;
}
/*.........first
 .........media queries*/

@media only screen and (max-width: 850px) {
    .header{
        background: bisque;
    }
    .head-title{
        
        font-size: 20px;
    }
    ul{
        display: grid;
        grid-template-rows: repeat(4, 1fr) ;
        gap: 5px;
        margin-left: 100px;


    }
    .banner-title{
        width: 400px;
        height: 100px;
    }
    .banner-description{
        width: 250px;
        height: 100px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .btn-1{
        margin-right: 50px;
        padding-left: 5px;
    }
    .banner-img{
        width: 200px;
        height: 100px;
        padding-left: 5px;
    }




    
}
/*...........  
team section start
......  */

.box-img{
    
    width: 685px;
    height: 685px;
    margin-top: 30px;
    margin-left: 50px;
    
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.team-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.team-info{
    margin-left: 40px;
    
}
.team-title{
    font-weight: 1200;
    font-size: 40px;

}
.team-description{
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.quicklist{
    color: #727272;
    font-family: 'Work Sans';
    

}
.features{
    color: #FF900E;

}
/*........
team media queries
.......*/ 
@media only screen and (max-width: 850px) {
    
        



}
    


/* experience section start */

.experience-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position:relative
    

}

.experience-info{
    background: white;
    width: 400px;
    height: 600px;
    margin-left: 100px;



}
.experience-title{
    margin-top: 38px;
    margin-left: 20px;
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 20px;
    
}
.style{
    background: #FF900E;
    width: 4px;
    height: 100px;
    position: absolute;
    top: 18px;
    
    
}
.exp-description{
    font-size: 14px;
    padding-bottom: 20px;

}
.box-1, .box-2,.box-3,.box-4{
    background: white;
    width: 400px;
    height: 90px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.116);
    border-radius: 5px;
    margin-top: 10px;
    
}
.exp-img{
    margin-top: 40px;


}
.architect-img{
    width: 400px;
}
.exp-btn{
    background-color: #FF900E;
    color: aliceblue;
    font-weight: 800;
    font-size: 20px;
    width: 180px;
    height: 100px;
    position:absolute;
    bottom: 0;
    left: 600px;
    border: 0;
    border-radius: 5px;

}
/* exp queries  */
@media only screen and (max-width:850px) {

    
}


/* analytics section start  */

.analytics-sec{

}

.fact{
    
    width: 400px;
    margin: 80px 45px;


}
.analytics{
    display: flex;
    justify-content: space-around;
    
    


}

.analytics-1, .analytics-2, .analytics-3, .analytics-4 {
    background: white;
    text-align: center;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    border: 2px solid orangered;
    border-radius: 5px;
    
}


.icon{
    width: 40px;
}
.target{
    background: rgba(0, 0, 0, 0.432);
    width: 400px;
    height: 80px;
    color: white;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 400px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;

}

/* sponsor section start*/
.sponsors{
    background: white;
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
    

}
.sponsors-title{
    margin-left: 40px;
    font-size: 50px;
    padding-bottom: 20px;
}
.sponsor-description{
    font-size: 15px;
    margin-left: 25px;
    color: #727272;
}
.sponsors-img{
    display: flex;
    justify-content: space-around;
    margin: 40px 50px;

}
.image{
    width: 150px;
    
    
}

@media only screen and (max-width:850px) {

    
}




/* footer section start */
.footer{
    background: #FFF4E7;
    border: 4px solid #FFF4E7;
    width: 800px;
    height: 50px;
    margin: 20px auto;
    

}
.footer-info{
    margin: 20px 140px;
    color: #727272;
}